* {
   cursor: url("isia.jpg"), auto;
}

img:hover {
  cursor: url("isia2.png"), auto;
}

body{
  background-color: rgb(24,243,120);
}
    h1
    {color:white;
    font-family: 'helvetica', bold;
    }
.verde {color: green}
.blu {color: blue}
.menu li {
  display: inline;
  padding: 10px 20px 5px 3px;
  border-right: 2px solid black;
font-family: 'Roboto', sans-serif;
text-transform: uppercase;
}
.menu li a {
  color: black;
}
.menu li a {
  color:black;
}
.menu li:last-of-type {
  border: 0;
}
img {
  border: 5px dotted
}

  div.titoli {
    background-color: lightblue;
    padding:30px;
  }

  div.due {
    background-color: red;
    margin-bottom:20px;
}
div.tre {
  background-color: orange;
  margin-bottom:20px;
}
div.contenitorediv {
  border: 3px solid blue;
display:flex;
}
div.titoli {
  width:40%;
}
div.due {
  width:35%;
}
div.tre {
  width:45%;
}
